<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Deneb Re - <%= @item[:title] %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="/style.css" media="screen">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Gentium+Book+Basic:400,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

<div role="main" id="main-container">
  <header class="clearfix">
      <a href="/"><img class="logo" src="/img/logo.png" /></a>
      <nav>
        <a href="/" <% if @item[:title]=='Home' %> class="active" <% else %> class="inactive" <% end %>>Home</a>
        <a href="/opportunity" <% if @item[:title]=='The Opportunity' %> class="active" <% else %> class="inactive" <% end %>>The Opportunity</a>
        <a href="/partner" <% if @item[:title]=='Partner with Deneb' %> class="active" <% else %> class="inactive" <% end %>>Partner with Deneb</a>
        <a href="/team" <% if @item[:title]=='Team' %> class="active" <% else %> class="inactive" <% end %>>Team</a>
        <a href="/philosophy" <% if @item[:title]=='Corporate Philosophy' %> class="active" <% else %> class="inactive" <% end %>>Corporate Philosophy</a>
        <a target="new" href="http://nihonenergy.blogspot.jp/" class="inactive">Blog</a>
      </nav>
  </header>

  <div class="content clearfix cushycms">
    <%= yield %>
  </div>

  <footer>&copy;2012 Deneb Renewable Energy LLC. All Rights Reserved.</footer>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</body>
</html>