<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Deneb Re</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width">

  <link rel="stylesheet" type="text/css" href="/style.css" media="screen">

  <link rel="shortcut icon" href="/favicon.ico"></link>

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|Gentium+Book+Basic:400,400italic' rel='stylesheet' type='text/css'>

</head>
<body>

<div role="main" id="lang-container">
  <img class="lang-logo" src="img/logo.png" />
  <div class="buttons-container">
    <a class="push_button blue" href="en/about.html">
      English
    </a>
    <a class="push_button blue" href="jp/about.html">
      日本語
    </a>
  </div>
</div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</body>
</html>